<footer class="footer">
    <div class="container">
        <span class="text-muted">
            <i class="bi bi-signpost-2 p-2"></i>
            <a class="link-secondary" href="/api/docs">api/docs</a>

            <i class="bi bi-github p-2"></i>
            <a class="link-secondary" href="https://github.com/ryanmccartney/ffmpeg-docker"
                >ryanmccartney/ffmpeg-docker</a
            >

            <i class="bi bi-book p-2"></i>
            <a class="link-secondary" href="https://ryan.mccartney.info/ffmpeg-docker"
                >ryan.mccartney.info/ffmpeg-docker</a
            >
        </span>
    </div>
</footer>
