/logs
/node_modules
.DS_Store

# Media
/data/media/*
!/data/media/.gitkeep

# Playlist
/data/playlist/*
!/data/playlist/.gitkeep

# Thumbnail
/data/thumbnail/*
!/data/thumbnail/.gitkeep

# VMAF
/data/vmaf/*
!/data/vmaf/.gitkeep

# HLS
/data/hls/*
!/data/hls/.gitkeep

# QR
/data/qr/*
!/data/qr/.gitkeep