<!DOCTYPE html>
<html>
    {{> head}}

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script language="javascript" src="/public/chart.js/chart.js"></script>

    <body class="bg-light">
        {{> header }}

        <main role="main" class="container">
            <canvas id="myChart" style="width: 80%"></canvas>
        </main>

        {{> footer }}

        <script language="javascript" src="/public/js/chart.js"></script>
    </body>
</html>
